[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-tailwind = "*"
psycopg2-binary = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-browser-reload = "*"
whitenoise = "*"
tzdata = "*"
gunicorn = "*"
boto3 = "*"
pip = "*"
install = "*"
django-storages = "*"
mysqlclient = "*"
reportlab = "*"
idna = "*"
certifi = "*"

[dev-packages]
mypy = "*"
mypy-extensions = "*"
