[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-tailwind = "*"
psycopg2 = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-browser-reload = "*"
whitenoise = "*"

[dev-packages]
mypy = "*"
mypy-extensions = "*"
