<form hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}

      <div class="ref">
        {{ form.reference.label_tag }}
        {{ form.reference }}
      </div>

      <div class="label">
        {{ form.label.label_tag }}
        {{ form.label }}
      </div>

      <div class="brand">
        {{ form.brand.label_tag }}
        {{ form.brand }}
      </div>

      <div class="supplier">
        {{ form.supplier.label_tag }}
        {{ form.supplier }}
      </div>

      <div class="prix">
        {{ form.purchase_price_unit.label_tag }}
        {{ form.purchase_price_unit }}
      </div>

      <div class="vente">
        {{ form.selling_price_unit.label_tag }}
        {{ form.selling_price_unit }}
      </div>

      <div class="quantity">
        {{ form.quantity.label_tag }}
        {{ form.quantity }}
      </div>

	  <div class="modal-footer">
		<button type="button" id="cancelButton">Cancel</button>
		<button type="submit">Save</button>
	</div>
</form>

