{% load static %}

<div class="product w-full">
	<div class="flex justify-center py-2 align-middle inline-block mt-5 w-full">
		<div class="overflow-x-auto w-full">
			<table class="w-full text-left">
				<thead class="text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 ">
					<tr>

						<th scope="col" class="px-5 py-3">
							Libellé
						</th>
						<th scope="col" class="px-1 py-3">
							Taille
						</th>
						<th scope="col" class="px-1 py-3">
							Baguette
						</th>
						<th scope="col" class="px-1 py-3">
							Verre
						</th>
						<th scope="col" class="px-1 py-3">
							Passe-partout
						</th>
						<th scope="col" class="px-1 py-3">
							Filet
						</th>
						<th scope="col" class="px-1 py-3">
							Prix
						</th>
						<th scope="col" class="px-1 py-3">
						</th>
						<th scope="col" class="px-1 py-3">
						</th>
					</tr>
				</thead>
				<tbody class="bg-white divide-y divide-gray-200">
					{% for product in product_order %}
					<tr class="{% if product.product.status %}status-active{% endif %}">
						<td class="px-5 py-4">
							{{ product.product.label }}
						</td>
						<td class="px-1 py-4">
							{{ product.product.size }}
						</td>
						<td class="px-1 py-4">
							{{ product.product.wand }}
						</td>
						<td class="px-1 py-4">
							{{ product.product.glass }}
						</td>
						<td class="px-1 py-4">
							{{ product.product.mat }}
						</td>
						<td class="px-1 py-4">
							{{ product.product.mesh }}
						</td>
						<td class="px-1 py-4">
							{{ product.product.selling_price_unit }}
						</td>

						<td>
							<a hx-get="{% url 'webapp:product-edit' pk=product.product.id %}" hx-target="#dialog">
								<img width="25" height="20" src="{% static '/img/edit.svg' %}">
							</a>
						</td>

						<td>
							<a hx-get="{% url 'webapp:product-delete' pk=product.product.id %}" hx-target="#dialog">
								<img width="25" height="20" src="{% static '/img/delete.svg' %}">
							</a>
						</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Afficher le total de la commande -->
{% if total_order > 100 %}
<div colspan="5" class="text-right mr-10 mb-5 text-sm">
	Acompte proposé de <b>{{ deposit }} €</b> (30% du total)
</div>
{% endif %}

<div class="flex justify-end mb-5 mr-5">
    <table>
        <tr>
            <td class="text-left align-top" style="padding-right: 20px; padding-top: 10px;"> 
                Total de la commande :
            </td>
            <td class="text-right align-top" style="padding-top: 10px;">
                <b>{{ total_order|floatformat:2 }}</b> €
            </td>
        </tr>
        <tr>
            <td class="text-left align-top" style="padding-right: 20px; padding-top: 10px;"> 
                Acompte perçu :
            </td>
            <td class="text-right align-top" style="padding-top: 10px;">
                <b>{{ order.deposit }}</b> €
            </td>
        </tr>
		<tr>
            <td class="text-left align-top" style="padding-right: 20px; padding-top: 10px;"> 
                Reste à percevoir :
            </td>
            <td class="text-right align-top" style="padding-top: 10px;">
                <b>{{ remaining }}</b> €
            </td>
        </tr>
    </table>
</div>





