{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

  {% block title %}
    <title>Login</title>
  {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>
<div class="menu-horizontal">
    <a href="{% url 'webapp:home' %}">Home</a>
    <a href="{% url 'webapp:login' %}">Login</a>
    <a href="{% url 'webapp:order-create' %}">Nouvelle commande</a>
    <a href="{% url 'webapp:dashboard' %}">Tableau de bord</a>
</div>

<section id="webapp">

  {% block content %}

  {% endblock %}

</section>

</body>
</html>
