{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
  {% block title %}
    <title>Login</title>
  {% endblock %}
    {% tailwind_css %}
</head>


<body class="bg-slate-200">
<div class="flex items-center bg-slate-500 text-slate-200 justify-around">

    <div class="font-sans">
        <a href="{% url 'webapp:home' %}"><img src="/static/img/home.svg" alt="Accueil" width="35" height="35"></a>
    </div>

    <div>
        <a href="{% url 'webapp:login' %}">Login</a>
    </div>

    <div>
        <a href="{% url 'webapp:order-create' %}"><img src="/static/img/neworder.svg" alt="Accueil" width="35" height="35"></a>
    </div>

    <div>
        <a href="{% url 'webapp:dashboard' %}"><img src="/static/img/dashboard.svg" alt="Accueil" width="35" height="35"></a>
    </div>

</div>




<section id="webapp">

  {% block content %}

  {% endblock %}

</section>

</body>
</html>
