{% extends 'base.html' %}
{% load static %}
{% block title %}

<title>Créer un client</title>



{% endblock %}
{% block content %}

<div class="titre flex justify-center text-3xl font-bold mb-9">
	<h1 class="title text-slate-500 mt-5">Création d'un client</h1>
</div>


<div class="min-h-screen flex content-start justify-center gap-5 ">


	<div class="w-full max-w-5xl">

		<div class="bg-white px-6 rounded-xl pt-10 shadow-xl ring-1 ring-gray-900/5 px-14">

			<form method="POST" class="">
				{% csrf_token %}
				<div id="id_customer" value="{{ form.instance.id }}">{{ form.instance.id }}</div>
				<!-- Clients -->
				<div class="client flex flex-no-wrap gap-8">
					<div class="nom w-4/12">
						{{ form.last_name.label_tag }}
						<div class="mt-2"></div>
						{{ form.last_name }}
					</div>
					<div class="prenom w-4/12">
						{{ form.first_name.label_tag }}
						<div class="mt-2"></div>
						{{ form.first_name }}
					</div>
					<div class="tel w-3/12 ml-auto">
						{{ form.phone_number.label_tag }}
						<div class="mt-2"></div>
						{{ form.phone_number }}
					</div>
				</div>
				<!-- Coordonées : adresse & mail -->
				<div class="mailadress flex flex-no-wrap pb-4 mt-3">
					<div class="adress w-6/12 mr-10">
						{{ form.address.label_tag }}
						<div class="mt-2"></div>
						<div>{{ form.address }}</div>
					</div>
					<div class="mail w-6/12 ml-auto">
						{{ form.mail.label_tag }}
						<div class="mt-2"></div>
						<div>{{ form.mail }}</div>
					</div>
				</div>

				<div class="border-b mb-5 mt-5"></div>

				{% if form.errors %}
				<div class="alert alert-danger">
					<ul>
						{% for field, errors in form.errors.items %}
						{% for error in errors %}
						<li>{{ field }}: {{ error }}</li>
						{% endfor %}
						{% endfor %}
					</ul>
				</div>
				{% endif %}


				<div class="buttons flex justify-end">
					<div class="btnok">
						<button type="submit" class="blue-button div-ombre-button-edit py-2 px-6 text-sm text-white text-gray-900
					focus:outline-none rounded-xl focus:z-10 focus:ring-4 focus:ring-gray-200 mb-8"
							value="Update">Enregistrer</button>
					</div>
				</div>
				<hr>
			</form>
		</div>


{% endblock %}
