{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Liste des clients</title>
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<script src="{% static 'js/grid_customer.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

{% endblock %}

{% block content %}

<div class="titre flex justify-center text-3xl font-bold ">
	<h1 class="title text-slate-500 mt-5">Liste des clients</h1>
</div>

<div class="min-h-screen justify-center gap-5 p-5">



	<!-- Dashboard -->
	<div class="hidden bg-sky-900 blue-color border-blue-500 text-blue-600 border-gray-300"></div>
	<div class="flex justify-center pt-5">
		<div class="w-full max-w-5xl">
			<div class="flex justify-center pt-5">
				<div class="w-full max-w-5xl">
					<ul class="flex font-medium text-center ">
						<li class="me-2">
							<a id="default-tab" class="bg-white
					  inline-block p-4
					  rounded-t-lg hover:border-gray-300
					  border" href="{% url 'webapp:customer-create' %}">Créer un client</a>
						</li>
					</ul>
					
					<div id="wrapperCustomer"
						class="tab-content bg-white rounded-b-lg pt-5 pb-10 mb-10 shadow-xl ring-1 ring-gray-900/5 px-6"></div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
