{% extends 'base.html' %}
{% load static %}
{% block title %}

<title>Nouvelle Commande</title>
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<script src="{% static 'js/autocomplete.js' %}"></script>

{% endblock %}

{% block content %}

<div class="flex justify-center align-middle text-3xl font-bold bg-slate-200 bg-opacity-50 ">
	<h1 class="title-text-top my-5">Création</h1>
</div>


<div class="min-h-screen flex content-start justify-center gap-5 ">
	<div class="w-full max-w-5xl ">

		<div class="bg-white px-6 rounded-xl pt-10 shadow-xl ring-1 ring-gray-900/5 px-14 mt-5">
			
			<form method="POST" class="">
				{% csrf_token %}
				<!-- Champs du formulaire NewCustomerForm -->
				<div class="hidden">
					ID : <input name="id" id="id_customer" value="{{ customer_form.instance.id }}" readonly />
				</div>
				<!-- Titre -->
				<div class="subtitle infosorder mb-5">
					<p>Créée le: {% now "j F Y" %}</p>
				</div>
				<div class="border-b"></div>
				<!-- libellé et status  -->
				<div class="labelstatus flex flex-no-wrap gap-5 mt-5">
					<div class="label w-7/12">
						{{ order_form.label.label_tag }}
						<div class="mt-2"></div>
						{{ order_form.label }}

					</div>
					<div class="status w-3/12 ml-auto">
						{{ order_form.status.label_tag }}
						<div class="mt-2"></div>
						{{ order_form.status }}
					</div>
				</div>
				<div class="border-b mb-5 mt-5"></div>
				<!-- Clients -->
				<div class="client flex flex-no-wrap gap-8">
					<div class="nom w-4/12">
						{{ customer_form.last_name.label_tag }}
						<div class="mt-2"></div>
						{{ customer_form.last_name }}
					</div>
					<div class="prenom w-4/12">
						{{ customer_form.first_name.label_tag }}
						<div class="mt-2"></div>
						{{ customer_form.first_name }}
					</div>
					<div class="tel w-3/12 ml-auto">
						{{ customer_form.phone_number.label_tag }}
						<div class="mt-2"></div>
						{{ customer_form.phone_number }}
					</div>
				</div>
				<!-- Coordonées : adresse & mail -->
				<div class="mailadress flex flex-no-wrap pb-4 mt-3">
					<div class="adress w-6/12 mr-10">
						{{ customer_form.address.label_tag }}
						<div class="mt-2"></div>
						<div>{{ customer_form.address }}</div>
					</div>
					<div class="mail w-6/12 ml-auto">
						{{ customer_form.mail.label_tag }}
						<div class="mt-2"></div>
						<div>{{ customer_form.mail }}</div>
					</div>
				</div>

				<div class="border-b mb-5 mt-5"></div>

				<div class="datesandpayment grid grid-rows-2 grid-flow-col ">
					<!-- champ commentaire -->
					<div class="comment row-span-1">
						{{ order_form.comments.label_tag }}
						<div class="mt-2"></div>
						{{ order_form.comments }}
					</div>
					<!-- champs paiements -->
					<div class="paiement row-span-2 ml-14"> <!-- ajusté ici -->
						{{ order_form.payment.label_tag }}
						<div class="mt-2"></div>
						{{ order_form.payment }}
						<div class="mt-2"></div>
						{{ order_form.payment_method.label_tag }}
						<div class="mt-2"></div>
						{{ order_form.payment_method }}
					</div>
					<!-- champ livraisons et facturation -->
					<div class="livraison row-span-2 justify-self-end"> <!-- ajusté ici -->
						{{ order_form.estimated_delivery_date.label_tag }}
						<div class="mt-2"></div>
						{{ order_form.estimated_delivery_date }}
						<div class="mt-2"></div>
						{{ order_form.invoice_date.label_tag }}
						<div class="mt-2"></div>
						{{ order_form.invoice_date }}
						<div class="mt-2"></div>
						{{ order_form.deposit.label_tag }}
						<div class="mt-2"></div>
						{{ order_form.deposit }}
					</div>

				</div>


				{% if customer_form.errors or order_form %}
				<div class="alert alert-danger">
					<ul>
						{% for field, errors in customer_form.errors.items %}
						{% for error in errors %}
						<li>{{ field }}: {{ error }}</li>
						{% endfor %}
						{% endfor %}
					</ul>
					<ul>
						{% for field, errors in order_form.errors.items %}
						{% for error in errors %}
						<li>{{ field }}: {{ error }}</li>
						{% endfor %}
						{% endfor %}
					</ul>
				</div>
				{% endif %}

				<div class="buttons flex justify-end">
					<div class="btncnc">
						<button id="resetButton" type="button" class="red-button py-2 px-6 mb-2 mr-5 text-sm text-white text-gray-900
					focus:outline-none rounded-xl focus:z-10 focus:ring-4 focus:ring-gray-200
					cursor-pointer transition-all   hover:-translate-y-[1px]  active:border-b-[2px]
					active:brightness-90 active:translate-y-[2px]" value="Delete">Tout effacer</button>
					</div>
					<div class="btnok">
						<button type="submit" class="blue-button div-ombre-button-edit py-2 px-6 mb-2 text-sm text-white text-gray-900
					focus:outline-none rounded-xl focus:z-10 focus:ring-4 focus:ring-gray-200
					cursor-pointer transition-all   hover:-translate-y-[1px]  active:border-b-[2px]
					active:brightness-90 active:translate-y-[2px]
					mb-8" value="Update">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}
