{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Modifier commande</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="{% static 'js/paper-full.min.js' %}"></script>

    <!-- Load the specific script -->
    <script src="{% static 'js/canva.js' %}"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>

{% endblock %}

{% block content %}

<div class="titre flex justify-center text-3xl font-bold mt-5 mb-9">
    <h1 class="text-slate-500">Modification de la commande {{ order_form.instance.id }} créée le {{ order.created_at|date:"SHORT_DATE_FORMAT"}}</h1>
</div>

<input type="hidden" id="orderPk" value="{{ order_form.instance.pk }}">

<canvas id="drawZone" class="border-2 border-indigo-600"></canvas>
<span id="drawError"></span>
<button id="bt_eraseDrawing">Effacer</button>
<button id="bt_saveDrawing">Sauvegarder</button>

<ul id="canvasList">
    {% if attachments %}
        {% for attachment in attachments %}
            {% if attachment.file_url %}

            {% endif %}
            <li><span class="attachment_pk" data-pk="{{ attachment.pk }}">[{{ attachment.pk }}]</span> - {{ attachment.file_name }} <img src="{{ attachment.file_url }}" alt="{{ attachment.file_name }}"> <button class="delete_canvas" data-pk="{{ attachment.pk }}"> -> Supprimer</button></li>
        {% endfor %}
    {% endif %}
</ul>


<div class="flex justify-center">
    <form method="POST" class="">
        {% csrf_token %}

        <div class="infos flex justify-between px-3">
            <div class="label mb-6 md:mb-4 ">
                {{ order_form.label.label_tag }}
                {{ order_form.label }}
                {% if order_form.label.errors %}
                <div class="errors">{{ order_form.label.errors }}</div>
                {% endif %}
            </div>

            <div class="status mb-6 md:mb-0">
                    {{ order_form.status.label_tag }}
                    <div>{{ order_form.status }}</div>
                    {% if order_form.status.errors %}
                    <div class="errors">{{ order_form.status.errors }}</div>
                    {% endif %}
            </div>
        </div>

        <div class="client flex flex-nowrap px-3 mb-2">

            <div class="nom mb-6 md:mb-0">
                {{ customer_form.last_name.label_tag }}
                <div>{{ customer_form.last_name }}</div>
                {% if customer_form.last_name.errors %}
                <div class="errors">{{ customer_form.last_name.errors }}</div>
                {% endif %}
            </div>

            <div class="prenom px-3 mb-6 md:mb-0">
                {{ customer_form.first_name.label_tag }}
                {{ customer_form.first_name }}
                {% if customer_form.first_name.errors %}
                <div class="errors">{{ customer_form.first_name.errors }}</div>
                {% endif %}
            </div>

            <div class="tel md:mb-0">
                {{ customer_form.phone_number.label_tag }}
                {{ customer_form.phone_number }}
                {% if customer_form.phone_number.errors %}
                <div class="errors">{{ customer_form.phone_number.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="mailadress flex flex-wrap mt-4 mb-6">
            <div class="adress px-3 mb-6 md:mb-0">
                {{ customer_form.address.label_tag }}
                <div>{{ customer_form.address }}</div>
                {% if customer_form.address.errors %}
                <div class="errors">{{ customer_form.address.errors }}</div>
                {% endif %}
            </div>

            <div class="mail mb-6 md:mb-0">
                {{ customer_form.mail.label_tag }}
                <div>{{ customer_form.mail }}</div>
                {% if customer_form.mail.errors %}
                <div class="errors">{{ customer_form.mail.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="dates flex flex-nowrap px-3 mb-6">

            <div class="">
                {{ order_form.estimated_delivery_date.label_tag }}
                <div>{{ order_form.estimated_delivery_date }}</div>
                {% if order_form.estimated_delivery_date.errors %}
                <div class="errors">{{ order_form.estimated_delivery_date.errors }}</div>
                {% endif %}
            </div>

            <div class="facturation px-3">
                {{ order_form.invoice_date.label_tag }}
                <div>{{ order_form.invoice_date }}</div>
                {% if order_form.invoice_date.errors %}
                <div class="errors">{{ order_form.invoice_date.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="comment px-3">
            {{ order_form.comments.label_tag }}
            {{ order_form.comments }}
            {% if order_form.comments.errors %}
            <div class="errors">{{ order_form.comments.errors }}</div>
        {% endif %}
        </div>


        <input type="hidden" name="id" value="{{ customer_form.instance.id }}" readonly>


        <button type="submit" class="btn btn-submit" value="Update">Enregistrer</button>


    </form>
</div>


{% if product_order %}
<div class="min-w-full bg-white">
  <div class="py-2 align-middle inline-block min-w-full">
    <div class="overflow-hidden">
      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              ID du produit
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Référence
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Libellé
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Prix unitaire de vente
            </th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Quantité
            </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Modifier
            </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Supprimer
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for product in product_order %}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ product.product.pk }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ product.product.reference }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ product.product.label }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ product.product.selling_price_unit }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ product.product.quantity }}
              </td>
                <td class="px-6 py-4 whitespace-nowrap">
                <a href="{% url 'webapp:product-edit' pk=product.product.id %}">
                Modifier
                </a>
               </td>
                <td class="px-6 py-4 whitespace-nowrap">
                <a href="{% url 'webapp:product-delete' pk=product.product.id %}">
                Supprimer
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

<a href="{% url 'webapp:order-add-products' pk=order_form.instance.id %}">Ajouter Produit</a>


{% endblock %}
