{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Modifier commande</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="{% static 'js/paper-full.min.js' %}"></script>
<script src="https://unpkg.com/htmx.org"></script>

<!-- Load the specific script -->
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/canva.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/picture.js' %}"></script>

<link href="https://fonts.googleapis.com/css2?family=VotreFamilleDePolices:wght@400&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}

<div class="titre flex justify-center text-3xl font-bold mt-5 mb-9">

	<h1 class="title text-slate-500 mt-5">Modification de la commande</h1>

</div>

<input type="hidden" id="orderPk" value="{{ order_form.instance.pk }}">
<div class="flex justify-center">
	<div class="w-full max-w-4xl px-4 sm:px-6 md:px-8 ">
		<form method="POST" class="">
			{% csrf_token %}
			<!-- Titre -->
			<div class="subtitle infosorder mb-5">
				<p>N°{{ order_form.instance.id }}</p>
				<p>Créée le: {% now "j F Y" %}</p>
			</div>
			<div class="border-b"></div>
			<!-- libellé et status  -->
			<div class="labelstatus flex flex-no-wrap gap-5 mt-5">
				<div class="label w-7/12">
					{{ order_form.label.label_tag }}
					<div class="mt-2"></div>
					{{ order_form.label }}

				</div>
				<div class="status w-3/12 ml-auto">
					{{ order_form.status.label_tag }}
					<div class="mt-2"></div>
					{{ order_form.status }}
				</div>
			</div>
			<div class="border-b mb-5 mt-5"></div>
			<!-- Clients -->
			<div class="client flex flex-no-wrap gap-8">
				<div class="nom w-4/12">
					{{ customer_form.last_name.label_tag }}
					<div class="mt-2"></div>
					{{ customer_form.last_name }}
				</div>
				<div class="prenom w-4/12">
					{{ customer_form.first_name.label_tag }}
					<div class="mt-2"></div>
					{{ customer_form.first_name }}
				</div>
				<div class="tel w-3/12 ml-auto">
					{{ customer_form.phone_number.label_tag }}
					<div class="mt-2"></div>
					{{ customer_form.phone_number }}
				</div>
			</div>
			<!-- Coordonées : adresse & mail -->
			<div class="mailadress flex flex-no-wrap pb-4 mt-3">
				<div class="adress w-6/12 mr-10">
					{{ customer_form.address.label_tag }}
					<div class="mt-2"></div>
					<div>{{ customer_form.address }}</div>
				</div>
				<div class="mail w-6/12 ml-auto">
					{{ customer_form.mail.label_tag }}
					<div class="mt-2"></div>
					<div>{{ customer_form.mail }}</div>
				</div>
			</div>

			<div class="border-b mb-5 mt-5"></div>

			<div class="datesandpayment h-44 grid grid-rows-2 grid-flow-col mb-5">
				<!-- champ commentaire -->
				<div class="comment row-span-1">
					{{ order_form.comments.label_tag }}
					<div class="mt-2"></div>
					{{ order_form.comments }}
				</div>
				<!-- champs paiements -->
				<div class="paiement row-span-2 ml-14"> <!-- ajusté ici -->
					{{ order_form.payment.label_tag }}
					<div class="mt-2"></div>
					{{ order_form.payment }}
					<div class="mt-2"></div>
					{{ order_form.payment_method.label_tag }}
					<div class="mt-2"></div>
					{{ order_form.payment_method }}
				</div>
				<!-- champ livraisons et facturation -->
				<div class="livraison row-span-2 justify-self-end"> <!-- ajusté ici -->
					{{ order_form.estimated_delivery_date.label_tag }}
					<div class="mt-2"></div>
					{{ order_form.estimated_delivery_date }}
					<div class="mt-2"></div>
					{{ order_form.invoice_date.label_tag }}
					<div class="mt-2"></div>
					{{ order_form.invoice_date }}
				</div>
			</div>


			<input type="hidden" name="id" value="{{ customer_form.instance.id }}" readonly>
			{% if form.errors %}
			<div class="alert alert-danger">
				<ul>
					{% for field, errors in form.errors.items %}
					{% for error in errors %}
					<li>{{ field }}: {{ error }}</li>
					{% endfor %}
					{% endfor %}
				</ul>
			</div>
			{% endif %}


			<div class="buttons flex justify-end">
				<div class="btncnc">
					<a href="{% url 'webapp:order-delete' pk=order_form.instance.id %}">
						<button style="background-color: #FF4E27; border-radius: 10px;" type="button" class="w-32 text-lg div-ombre-button-navbar-logout py-2 px-4 mr-7 mb-2 text-sm text-white 
						focus:outline-none
					   focus:z-10 focus:ring-4 focus:ring-gray-200" value="Delete">Supprimer</button>
					</a>
				</div>
				<div class="btnok">
					<button style="background-color: #0060EF; border-radius: 10px;" type="submit" class="w-32 text-lg div-ombre-button-edit py-2 px-4 mb-2 text-sm text-white
						focus:outline-none
					   focus:z-10 focus:ring-4 focus:ring-gray-200
					   mb-5" value="Update">Enregistrer</button>
				</div>
			</div>
			<hr>
		</form>


		<!-- Conteneur pour la liste des produits -->
		<div class="titre flex justify-left text-2xl font-bold mt-5 mb-3">
			<h1 class="title text-slate-500 mt-5">Produits</h1>

		</div>
		<div id="productOrderList" hx-get="{% url 'webapp:product_order_list' order_id=order.id %}"
			hx-trigger="load, ProductsListChanged from:body" hx-target="#productOrderList">
			<!-- Le contenu de la liste des produits sera ici -->
		</div>

		<!-- Conteneur pour le bouton, aligné en bas à droite -->
		<div class="flex justify-end mt-auto">
			<button style="background-color: #0060EF; border-radius: 10px;"
				hx-get="{% url 'webapp:order-add-products' pk=order_form.instance.id %}" hx-target="#dialog" class="w-32 text-sm div-ombre-button-edit py-2 px-4 mb-2 text-sm text-white
					focus:outline-none
				   focus:z-10 focus:ring-4 focus:ring-gray-200 mb-5">
				Ajouter Produit
			</button>
		</div>
		<hr>



		<!-- Liste des photos -->
		<div class="titre flex justify-left text-2xl font-bold mt-5 mb-3">
			<h1 class="title text-slate-500 mt-5">Photos</h1>
		</div>
		<div>
			<ul id="pictureList" >
				{% if attachments_pictures %}
				{% for picture in attachments_pictures %}
				<li class="mt-2" >
					<a href="{{ picture.url }}" class="mr-10">
						{{ picture.filename|truncatechars:30 }}
					</a>
					<button class="delete_picture" data-pk="{{ picture.pk }}" style="margin-left: 10px;">
						<img width="10" height="10" src="{% static '/img/delete.svg' %}">
					</button>

				</li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>


		<!-- Bouton pour ouvrir le modal Joindre photo -->
		<div class="flex justify-end">
			<button style="background-color: #0060EF; border-radius: 10px;" id="openModalPictureButton"
			class="w-32 text-sm div-ombre-button-edit py-2 px-4 mb-4 text-sm text-white
			focus:outline-none
		   focus:z-10 focus:ring-4 focus:ring-gray-200">
				Joindre photo
			</button>
		</div>

		<hr>
		<div class="titre flex justify-left text-2xl font-bold mt-2 ">
			<h1 class="title text-slate-500 mt-5">Croquis</h1>
		</div>

		<!-- Bouton gomme et supprimer -->
		<div class="flex justify-end gap-5">
			<button id="bt_whitePaint">
				<img id="eraserImg" width="35" height="40" src="{% static 'img/eraser.svg' %}"
					data-active-src="{% static 'img/eraser_active.svg' %}">
			</button>
			<button id="bt_eraseDrawing">
				<img width="35" height="40" src="{% static '/img/delete.svg' %}">
			</button>
		</div>

		<canvas id="drawZone" 
		class="w-full px-3 rounded-lg border border-gray-300 bg-white">

		</canvas>
	

		<div class="error justify-end">
			<span id="drawError"></span>
		</div>

		<div class="flex justify-end">
			<button id="bt_saveDrawing"
			style="background-color: #0060EF; border-radius: 10px;"
				class="w-32 text-sm div-ombre-button-edit py-2 px-4 mb-2 mt-2 text-sm text-white
				focus:outline-none
			focus:z-10 focus:ring-4 focus:ring-gray-200">
				Sauvegarder
			</button>
		</div>
		<!-- Liste des canvas -->
		<div class="flex justify-center mt-5">
			<ul id="canvasList">
				{% if attachments %}
				{% for attachment in attachments %}
				<div class="flex ">
					<li class="border-2 border-gray-600 bg-white border-dashed">
						<div class="flex justify-end mt-2">
							<button class="edit_canvas mr-5" data-pk="{{ attachment.pk }}">
								<img width="35" height="40" src="{% static '/img/edit.svg' %}">
							</button>
							<button class="delete_canvas mr-2" data-pk="{{ attachment.pk }}">
								<img width="35" height="40" src="{% static '/img/delete.svg' %}">
							</button>
						</div>
						<img src="{{ attachment.file_url }}" alt="{{ attachment.file_name }}">
					</li>
				</div>
				{% endfor %}
				{% endif %}
			</ul>
		</div>

	</div>
</div>







<!-- Structure de base du modal -->
<div id="ModalPicture" class="fixed inset-0 flex items-center justify-center hidden z-50">
	<!-- Superposition floutée -->
	<div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-md"></div>
	<!-- Contenu du modal -->
	<div style="max-width: 800px; width: 90%;" class="bg-white p-6 rounded-lg mx-auto border-2 relative z-10">
		<h2 class="text-2xl mb-4 underline">Joindre une photo</h2>
		<!-- Joindre une photo -->

		<!-- Conteneur du bouton 'Parcourir' -->
		<div class="flex justify-end inline-block">
			<button id="closeModalPictureButton"
			style="background-color: #FF4E27; border-radius: 10px;"
			class="w-32 text-lg div-ombre-button-navbar-logout py-2 px-4 mr-5 mb-2 text-sm text-white 
			focus:outline-none
		   focus:z-10 focus:ring-4 focus:ring-gray-200">
						Annuler
					</button>

			<input class="hidden" type="file" accept="image/*" id="photoCaptureInput" capture="camera">
			<!-- Label personnalisé servant de bouton -->
			<label for="photoCaptureInput"
			style="background-color: #0060EF; border-radius: 10px;"
			type="submit"
			class="cursor-pointer w-32 text-lg div-ombre-button-edit py-2 px-4 mb-2 text-sm text-white
			focus:outline-none
			focus:z-10 focus:ring-4 focus:ring-gray-200
			text-center
			">
				Parcourir
			</label>
		

		

		</div>
	</div>
</div>






<!-- Le placeholder pour la modal -->
<div id="modal" class="fixed inset-0 flex items-center justify-center z-50 hidden" aria-labelledby="modal-title"
	role="dialog" aria-modal="true">
	<!-- Le fond semi-transparent de la modal -->
	<div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-md"></div>
	<!-- La boîte de dialogue (modal) -->
	<div id="dialog" hx-target="this" class="bg-white p-6 rounded-lg border-2 z-10 m-auto"
		style="max-width: 800px; width: 90%;">
		<!-- Le contenu de la modal sera injecté ici -->
	</div>
</div>





{% endblock %}
