{% extends 'base.html' %}

{% block title %}
    <title>Nouvelle commande</title>
{% endblock %}

{% block content %}
  <h1>Page de saisie d'une nouvelle commande</h1>

<form method="POST">
    {% csrf_token %}
    <!-- Champs du formulaire NewOrderForm -->
    {{ order_form.label.label_tag }} {{ order_form.label }}
    {{ order_form.comments.label_tag }} {{ order_form.comments }}
    {{ order_form.status.label_tag }} {{ order_form.status }}
    {{ order_form.estimated_delivery_date.label_tag }} {{ order_form.estimated_delivery_date }}
    {{ order_form.invoice_date.label_tag }} {{ order_form.invoice_date }}
    <br>
    <!-- Champs du formulaire NewCustomerForm -->
    {{ customer_form.first_name.label_tag }} {{ customer_form.first_name }}
    {{ customer_form.last_name.label_tag }} {{ customer_form.last_name }}
    {{ customer_form.phone_number.label_tag }} {{ customer_form.phone_number }}
    {{ customer_form.address.label_tag }} {{ customer_form.address }}
    {{ customer_form.mail.label_tag }} {{ customer_form.mail }}

    <button type="submit" class="btn btn-submit" value="Update">Enregistrer</button>
</form>

    <div class="error">
        {% for error in order_form.name.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>

{% endblock %}
