{% extends 'base.html' %}

{% block title %}
    <title>Supprimer commande</title>
{% endblock %}

{% block content %}
  <form method="POST">
      {% csrf_token %}
      <div class="text-slate-500 flex justify-center mt-4">Êtes vous sûr de vouloir supprimer la commande du client {{ commandes.customer.last_name }} (id: {{ commandes.pk }}) ?</div>

      <div class="flex justify-center">
          <button type="submit" class=" mb-4 mt-4 bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded">Oui, supprimer</button>
      </div>

  </form>
{% endblock %}

