.menu-horizontal {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1em;
}

.menu-horizontal a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

.menu-horizontal a:hover {
    background-color: #555;
}

.errors {
    color: red;
}