{% extends 'base.html' %}

{% block title %}
    <title>Tableau de bord</title>
{% endblock %}

{% block content %}

    <h1>Tableau de bord</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Libellé</th>
                <th>Status</th>
                <th>Date de création</th>
                <th>Ajouter produit</th>
                <th>Modifier commande</th>
                <th>Supprimer commande</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
                    <td><a href="{% url 'webapp:order-detail' pk=commande.pk %}">{{ commande.pk }}</a></td>
                    <td>{{ commande.customer.last_name }}</td>
                    <td>{{ commande.customer.first_name }}</td>
                    <td>{{ commande.label }}</td>
                    <td>{{ commande.status }}</td>
                    <td>{{ commande.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                    <td><a href="{% url 'webapp:order-add-products' pk=commande.pk %}">Ajouter produit</a></td>
                    <td><a href="{% url 'webapp:order-edit' pk=commande.pk %}">Modifer commande</a></td>
                    <td><a href="{% url 'webapp:order-delete' pk=commande.pk %}">Supprimer commande</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
