{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
<a href="{% url 'webapp:create' %}">Nouvelle commande</a>
<a href="{% url 'webapp:dashboard' %}">Tableau de bord</a>
<a href="{% url 'webapp:products' %}">Produits</a>
{% for commande in commandes %}
    <p><h1> libelle : {{ commande.label }} </h1></p>
    <p>id : {{ commande.pk }}</p>
    <p>first name : {{ commande.customer.first_name }}</p>
    <p>last_name : {{ commande.customer.last_name }}</p>
    <p>phone number : {{ commande.customer.phone_number }}</p>
    <p>comments : {{ commande.comments }}</p>
    <p>created at : {{ commande.created_at|date:"SHORT_DATE_FORMAT" }}</p>
    <p>delivery date : {{ commande.estimated_delivery_date }}</p>
    <p>invoice date : {{ commande.invoice_date }}</p>
    <ul>
        {% for product in commande.products.all %}
            <li>libellé : {{ product.label }}</li>
            <li>prix unitaire de vente : {{ product.selling_price_unit }}</li>
            <li>quantité : {{ product.quantity }} </li>
        {% endfor %}
    </ul>
    <p>Total de la commande: {{ commande.total_price }}</p>
    <button><a href="{% url 'webapp:order' pk=commande.pk %}">Voir détail</a></button>

{% endfor %}


{% endblock %}
