{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}

<div class="flex justify-evenly my-3 mx-h-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 gap-y-9">

{% for commande in commandes %}


    <div id="card" class="bg-slate-50 w-full h-full overflow-y-hidden mx-auto block max-w-sm p-6 border-solid border-slate-950 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <div class="libellé_id flex justify-between mx-h-full">
            <div>
                <h1 class="font-bold">{{ commande.label }}</h1>
            </div>
        </div>
        <div class="dates border-t my-3 ">
            <div class="flex justify-between font-normal text-gray-700 dark:text-gray-400">
                <div>Date de création</div>
                <div>{{ commande.created_at|date:"SHORT_DATE_FORMAT" }}</div>
            </div>

        </div>
            <div class="customer border-t my-3 ">
                <p class="font-normal text-gray-700 dark:text-gray-400">{{ commande.customer.first_name }} {{ commande.customer.last_name }}</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">Tél: {{ commande.customer.phone_number }}</p>
            </div>

        <div class="status border-t my-3">
            {% if commande.status == 'Terminée' %}
                <span class="status-Terminée">{{ commande.status }}</span>
            {% elif commande.status == 'En attente' %}
                <span class="status-En-attente">{{ commande.status }}</span>
            {% elif commande.status == 'En cours' %}
                <span class="status-En-cours">{{ commande.status }}</span>
            {% elif commande.status == 'Facturée' %}
                <span class="status-Facturée">{{ commande.status }}</span>
            {% elif commande.status == 'Annulée' %}
                <span class="status-Annulée">{{ commande.status }}</span>
            {% endif %}

        </div>
        <div class="flex justify-end">
            <a href="{% url 'webapp:order-edit' pk=commande.pk %}">
            <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-green-400 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Modifier</button>
        </a>
        </div>

    </div>

{% endfor %}
</div>

{% endblock %}
