{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./output.css" rel="stylesheet">
	{% tailwind_css %}

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			setTimeout(() => {
				document.querySelectorAll('.transform').forEach(function (element) {
					element.classList.remove('translate-y-10', 'translate-x-10', 'opacity-0');
				});
			}, 100);  // Retarde l'animation de 100 ms pour s'assurer que la page est chargée
		});
	</script>
</head>

<body>
	<header>

	</header>

	<section class="bg-white dark:bg-gray-900">
		<div class="lg:flex grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-20">
			<div class="lg:w-7/20 mr-auto place-self-center ">
				<h1
					class="max-w-2xl mb-4 text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl dark:text-white transform translate-y-10 opacity-0 transition duration-700 ease-out delay-300">
					OrderNest, the best tool for your business</h1>
				<p
					class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 transform translate-y-10 opacity-0 transition duration-700 ease-out delay-500">
					Good workers need good tools: Save, organize and sort all your orders to make them easier to find.
				</p>
				<a href="{% url 'webapp:login' %}"
					class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 transform translate-y-10 opacity-0 transition duration-700 ease-out delay-700">
					Log In
					<svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
							clip-rule="evenodd"></path>
					</svg>
				</a>
				<a href="#"
					class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 transform translate-y-10 opacity-0 transition duration-700 ease-out delay-900">
					Speak to Sales
				</a>
			</div>
			<div class="lg:w-13/20 hidden lg:mt-0 lg:flex">
				<img class="transform translate-x-10 opacity-0 transition duration-700 ease-out delay-1100 hover:scale-110 shadow-lg hover:shadow-2xl" src="{% static 'img/landingscreencards.png' %}">

			</div>
		</div>
	</section>




	<section class="bg-gray-50 dark:bg-gray-800">
		<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
			<div class="max-w-screen-md mb-8 lg:mb-16">
				<h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">Designed and created by a young
					team of developers, for small companies </h2>
				<p class="text-gray-500 sm:text-xl dark:text-gray-400">OrderNest is a website designed to provide small
					businesses with a tool for tracking and managing orders. Open-source, it's also versatile, clear,
					fast, tablet-oriented and easy to access.</p>
			</div>
		</div>
	</section>

	<section class="bg-white dark:bg-gray-900">
		<div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
			<div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
				<h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">Features</h2>
				<p>We have implemented several features in this project, including:</p>
				<ul>
					<li class="mt-5">A very simple and readable map view</li>
					<img class="rounded-lg mt-5" width="600" height="600"
						src="{% static 'img/landingscreencards.png' %}">
					<li class="mt-5">Customer and order creation</li>
					<img class="rounded-lg mt-5" width="600" height="600" src="{% static 'img/landingscreen1.png' %}">
					<li class="mt-5">Adding drawings, photos, and products</li>
					<img class="rounded-lg mt-5" width="600" height="600" src="{% static 'img/screenimg.png' %}">
				</ul>
			</div>
		</div>
	</section>

	<section class="bg-white dark:bg-gray-900">
		<div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
			<div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
				<h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">Why OrderNest ?</h2>
				<p class="mb-4">We're two young developers, and we wanted to do a project together to overcome a
					recurring problem when you start your own company and don't have a lot of resources.</p>
				<p>We're in the year 2023, so to see someone still writing down customer information, taking notes or
					taking orders on a piece of paper seemed outdated to us.</p>

			</div>
			<div class="grid grid-cols-2 gap-4 mt-8">
				<img class="rounded-lg" width="1000" height="1000" src="{% static 'img/ValentinSimon.jpg' %}">
			</div>
		</div>
	</section>


	<footer class="flex justify-center p-4 bg-gray-50 sm:p-6 dark:bg-gray-800">
		<div class="mx-auto max-w-screen-xl">
			<div class="md:flex md:justify-between">

				<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
					<div>
						<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
						<ul class="text-gray-600 dark:text-gray-400">
							<li class="mb-4">
								<a href="https://github.com/Pizzayolow/order_nest" class="hover:underline ">Github</a>
							</li>
						</ul>
					</div>
				</div>
				<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
			</div>
		</div>
	</footer>

	<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>

</html>
