@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.status-En-attente {
    color: darkorange;
}

.status-En-cours {
    color: dodgerblue;
}

.status-Terminée {
    color: limegreen;
}

.status-Facturée {
    color: green;
}

.status-Annulée {
    color: red;
}

