@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.status-En-attente {
    color: #FF9E2D;
}

.status-En-cours {
    color: #0060EF;
}

.status-Terminée {
    color: #8D8D8D;
}

.status-Facturée {
    color: #162B49;
}

.status-Annulée {
    color: #8D8D8D;
}

.status-Urgent {
    color: #FF4E27;
}

.div-ombre {
    box-shadow: 0px 10px 0px 0px #EFEFEF;
}

.div-ombre-button-edit {
    box-shadow: 0px 3px 0px 0px #013D97;
}

.div-ombre-button-navbar {
    box-shadow: 0px 6px 0px 0px #2C4569;
}

.div-ombre-button-navbar-logout {
    box-shadow: 0px 3px 0px 0px #C80C00;
}

.title {

	color: #26474E;
}


.subtitle {

	color: #26474E;
}
